.tab-pane.fade.in(id = 'boolean_chart_' + chart_id )
  .col-sm-12.col-lg-12(id = 'd3_boolean_chart_' + chart_id)
    .col-sm-6.col-lg-6
      p.filterText
        | Current filter: 
        span#highlightText.filter No active filter, click/drag on charts to filter data
    .col-sm-6.col-lg-6
      p.chartTitle(id = 'boolean_chart_' + chart_id + '_chartTitle')
