#data-layers.col-sm-3.col-lg-3
  ul#myExploreTab
      li
          a.charts(, href='#')
              h1.gray
                  | Explore data
                  span.caret
          ul.layer-groups-root(role='menu')
