#contentTab
  #midGrayBar.col-sm-12.col-lg-12
    .col-sm-4.col-lg-4
      h1.gray Event Details
    #edit_event.col-xs-4.col-xs-offset-4
      li.dropdown(style='margin-right:0px')
        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false', style='') Edit / Add Event
        ul#edit_dropdown.dropdown-menu(role='menu')
  #dateTime.col-sm-12.col-lg-12(style='min-height:100px')
    h4
