#info.col-sm-4.col-lg-4(style='padding: 10px; overflow: auto;')
  // Info section
  include ./event-detail-key-facts.jade
  // Tab panel
  include ./event-detail-navigation.jade
  // Tab panes
  include ./event-detail-data.jade
