#button.popup-menu-root.col-sm-6.col-lg-6
    ul#myExploreTab.nav.nav-pills.nav-justified
        li.dropdown.dropup.customfontsize
            a.dropdown-toggle.charts(data-toggle='dropdown', href='#')
                h1.gray
                    | Explore data
                    span.caret
            ul.dropdown-menu.multi-level.layer-groups-root(role='menu', aria-labelledby='dropdownMenu1')
