// FILTER BUTTON
#button.col-sm-1.col-lg-1
  .btn-group(style='border:none; margin-left:0px', role='group', aria-label='...')
    a.btn.btn-default(type='button', style='border:none')
      p#filterList.glyphicon.glyphicon-filter(aria-hidden='true', title='Click to reset charts')
