body {
    font-family: 'Roboto', sans-serif;
    color: #a4afbb;
    background-color: #2b323a;
    margin-bottom: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

/* map container*/
#chart-map {
    width:100%;
    padding:none;
    margin: none;
    background-color: #3e4651;
    height:50vh;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    padding-top:0px;
}

/*navbar*/
.navbar{
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

/*fonts*/
h1 {
    font-size: 16px;
    font-weight:400;
    color: white;
    letter-spacing:24;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
}

h1.gray{
    color: #cfd8dc !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px
}

h1.display{
    padding-top:10px;
}

h1.nav{
    padding-top:5px;
    padding-left:10px;
    /*text-align:center;*/
}

h2 {
    font-size: 14px;
    font-weight:100;
    color: white;
    letter-spacing:40;
    margin-top:15px;
}

h4{
    font-size: 12px;
    font-weight:400;
    color: white;
    letter-spacing:40;
    margin-top:15px;
}

p {
    font-size: 12px;
    font-weight:400;
    color: #fff;;
    letter-spacing:48;
    line-height: 200%;
}

p.display{
    padding-top:25px;
}

p.tableHeader {
    font-size: 14px;
    color: #fff;;
}

p.noMargin{
    margin-bottom: 0px !important;
    color:#cfd8dc;
}

p.summary{
    color:#cfd8dc;
}

a {
    color: #a4afbb;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ffffff;
}

a.summary{
    color:#cfd8dc;
}

a.charts{
    max-height:40px !important;
    width: 200px !important;
    font-size:12px !important;
    padding-top:1px !important;
}

a.toggle {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-border-top-right-radius: 4px !important;
    -moz-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -moz-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: #222;
    color: white;
    opacity: 0.8;
    z-index: 100;
}

a:hover.toggle {
    background-color: #ffffff;
    color: #009DE9;
    opacity: 1;
}

hr {
    padding:0px;
    margin-bottom:15px;
    border-color:#3e4651 !important;
    border: 2px solid;
}

td {
    font-size:21px;
    font-weight: 300;
    color: #cfd8dc;
}

th, td {
    border-top:#3e4651 solid 1px !important;
}

th > p{
    text-align:left;
    color: #a4afbb;
    padding-top: 7px;
}

th > p.white{
    text-align:left;
    color: white;
    padding-top: 7px;
}

tr {
    color: #ffffff;
    text-decoration: none;
}

td > p{
    padding-top: 7px !important;
    font-weight: 100;
    text-align:right;
}

.caption-grey{
    color:#a4afbb;
    font-size:8px !important;
    letter-spacing:75;
    font-weight: 500;
    font-weight:medium;
    padding:none;
    margin:0px;
}

.chart_dropdown {
    width: 205px;
}

/*dropdown menu*/
.dropdown-menu{
    z-index: 1000;
    padding: 5px 0;
    margin: 2px 0 0;
    color: white !important;
    text-align: left;
    padding: 10px;
    background-color: #3e4651;
    border: 1px solid #2b323a;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
}

.dropdown-menu>li>a {
    z-index: 1000;
    color: white !important;
    text-align: left;
    min-width:150px;
}

.dropdown-menu>li>a.active {
    background-color: #4b5461;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: white;
    background-color: #4b5461;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #4b5461;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: white;
    text-decoration: none;
    background-color: #4b5461;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #2b323a;
}

.nav>li>a.tab {
    position: relative;
    display: block;
    padding: 15px 0px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

.panel {
    margin-bottom: 20px;
    background-color: #2b323a;
    border: 1px solid white;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #2b323a;
    border-color: #ffffff;
}

.panel-heading {
    padding: 0px 15px;
    border-bottom: 1px solid transparent;

}

.panel-group {
    padding-top: 30px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.modal-content {
    background-color: #2b323a;
    height: 100%;
    border-radius: 0;
}

.modal-body {
    background-color: #2b323a;
}

/*nav-tabs*/
.nav-tabs {
    border-bottom: none;
}
.nav-tabs > li{
    padding-right: 5px;
    margin-right:5px;
}

.nav-tabs > li.active{
    border-bottom:3px solid white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white;
    background-color: #2b323a;
    border: none;
}

.nav-tabs>li>a {
    border: none;
    border-radius: 0px;
    margin-bottom: none;
    margin-right: 15px;
    margin-left: 15px;
    font-size:10px;
}

/*dropup-up menu nav*/
.nav-pills > li.dropdown.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: white;
    background-color: transparent;
    border-bottom: none;
}

.nav-pills>li.dropdown>a{
    border: none;
    border-radius: 0px;
    padding-top:0px;
}

.nav-pills>li.dropdown>a:focus{
    color: #2b323a;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    border-color: #428bca;
}

.tooltip{
    background-color: white;
    border-radius: none;
    color: red;
}

.panel-collapse{
    margin-left: 10px;
    margin-right: 10px;
}

/*carousel*/
a.carousel-control{
    color: white;
    font-size: 100px;
    padding-top: 120px;
}
.carousel img {
    max-height: 425px;
    position: center;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #3e4651;
    border-radius:2px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #8c939c;
    } /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #8c939c;
    border-radius:2px;
    } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}

/* CHART STYLES */
/* BRUSH */
.dc-chart .brush rect.extent {
    fill: #ffffff;
    fill-opacity: 0.7;
}

/*AXIS*/
.y-axis-label {
    fill: transparent;
}

.x-axis-label {
    font-family: 'Roboto', sans-serif;
    fill: white;
    font-size:16px;
    font-weight:400;
}

.dc-chart .axis text {
    font-family: 'Roboto', sans-serif;
    fill: white;
    font-size:14px;
    font-weight:100;
    padding-top:100px;
}

.dc-chart .axis path, .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
    stroke: white;
}

/*BAR CHARTS*/
.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
    fill:black;
    stroke: black;
    stroke-width: 2px;
    fill-opacity: 0.5;
}

.dc-chart rect.deselected {
    stroke: none;
}

.dc-chart rect.selected {
    stroke: none;
    fill: white;
}

/*LEAFLET / MAP STYLES*/
.leaflet-popup-content-wrapper {
    background-color: #2F363F !important;
    opacity: 0.9;
    overflow: auto;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    padding:none;
}

/*leaflet layer control*/
.leaflet-control-layers {
    box-shadow: none;
    background: #fff;
    border: none;
    border-radius: 0px;
    background: #3E4651 !important;
}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-toggle{
    width:26px;
    height:26px;
    background-image: url(images/globe.png);
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}
.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    background: #3E4651 !important;
}
.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}
.leaflet-control-layers label {
    display: block;
    color:white;
    font-size: 11px;
}
.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px 80px 5px -6px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    color: white !important;
    text-indent: 1px;
    border-radius: 0px !important;
    background: #3E4651 !important;
}

.leaflet-container a:hover, .leaflet-container.dark a {
    color: #ff0000;
}

.marker-cluster-small {
    background-color: rgba(0, 0, 0, 0.6);
}
.marker-cluster-small div {
    background-color: black;
}

.marker-cluster-medium {
    background-color: rgba(0, 0, 0, 0.6);
}
.marker-cluster-medium div {
    background-color: black;
}

.marker-cluster-large {
    background-color: rgba(0, 0, 0, 0.6);
}
.marker-cluster-large div {
    background-color: black;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
}
.marker-cluster span {
    line-height: 30px;
}

/* leaflet attribution*/
.leaflet-container a:hover, .leaflet-container.dark a {
    color: #777;
}

.leaflet-container a, .leaflet-container.dark a {
    color: #222;
}

.leaflet-container a > span.tekja, .leaflet-container.dark a > span.tekja {
    color: #ff0039;
    font-size:12px;
}

.legend {
    display: inline-block;
    padding-left:0px;
    margin-top: 0px;
}

.inline{
    display: inline-block;
}

.gray{
    color: gray;
    padding-bottom: 0px;
    margin-bottom:0px;
}

/*sub-dropdown menu*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 10;
    left: 100%;
    margin-top: -6px;
    margin-left: 150px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>.dropdown-menu> li{
    background-color: #3e4651;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu > .dropdown-menu > li > a {
    padding: 0px;
    line-height: 2;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    top: 10px;
    left: 90%;
    margin-left: 10px;
    height:0px;
    background-color: transparent !important;
    padding:0px;
    border:none;
}

/*SEARCH BOX*/
::-webkit-input-placeholder {
    color: #cfd8dc !important;
    font-size: 12px;
    padding-top:5px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cfd8dc !important;
    font-size: 12px;
    padding-top:5px;
}

:-ms-input-placeholder {
    color: #cfd8dc !important;
    font-size: 12px;
    padding-top:5px;
}


#myTab{
    width: 100px;
}
#tableSearch{
    background-color: #4B5461 !important;
    border: none;
    border-radius: 0px !important;
    font: white;
    padding: none !important;
    margin:none !important;
}

.form-control{
    color:#cfd8dc !important;
    padding: none !important;
    margin:none !important;
    height: 40px;
    width: 100%;
    position: absolute;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.filterText{
    font-size: 12px;
    padding-top:10px;
}

.filter{
    font-size: 14px;
    margin-bottom: none;
}

.agreggateText{
    font-size:30px;
    text-align:center;
}

.agreggateText > p{
    font-size:10px;
    text-align:center;
}

.border{
    border-right: solid gray 1px;
    border-right: solid gray 1px;
    min-height: 100px;
    max-height: 100px;
    margin-top: 20px;
    padding-right: 30px;
    text-align: center;
}

#aggregate_counts {
    text-align:center;
}

/* bootstrap glyphicons */
.glyphicon-repeat{
    background-color: #4B5461;
    color: #fff;
}

.glyphicon-search{
    color: #fff;
    padding-top: 5px;
}

.glyphicon.glyphicon-info-sign {
    font-size: 25px;
}

.glyphicon{
    color:#cfd8dc !important;
}

/* bootstrap btns */
.btn{
    background-color: transparent;
    color: #fff;
    padding-top:13px;
    border-radius: 0px;
}

.btn:hover{
    background-color: #4B5461;
    color: #fff;
}

.activeFilter{
    color: black !important;
}

/* carousel images*/
img{
    max-height: 300px;
}
.item{
    padding-top: 20px;
    padding-bottom: 20px;
}
a.toggle-left.btn{
    background-color: #576170 !important;
    color: #fff;
    border: none;
    padding-top:0px;
}
a.toggle-left {
    position: fixed;
    right: 0;
    top: 9vh;
    display: block;
    border-left:#2b323a;
    border:none;
    border-radius:none;
    background-color: #576170;
    color: white;
    opacity: 1;
    z-index: 100;
    height: 55px;
    width: 50px;
    padding-top:50px;
}

/*tabs*/
.infowindow{
    padding:none;
    padding-top:15px;
    margin:none;
    margin-bottom: 0px;
    background-color:#2f363f;
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;
    margin-top:0px;
}

.popover-content{
    color:black;
}

.highlight{
    min-height:57px;
    padding:5px;
    margin:none;
}

.highlightText{
    background-color:#F45656;
}
.transparent {
    background-color: transparent !important;
    color: transparent !important;
}

#darkGrayBar{
    background-color: #2b323a;
    margin: none;
    min-height: 45px;
}
#midGrayBar{
    background-color: #4b5461;
    padding: 5px;
    margin: none;
}
#lightGrayBar{
    background-color: #a4afbb;
    padding: 5px;
    margin: none;
    min-height: 45px;
}
#offGrayBar{
    background-color: #3e4651;
    padding: 5px;
    margin: none;
}
#button{
    background-color: #4B5461;
    margin: none;
    min-height: 45px;
    border-right: 1px solid #2b323a;
    text-align:center;
}

#number_total_events{
    padding-top:none;
    text-align:center;
}

#info{
    padding: 0px !important;
}

#edit_event{
    padding-top: 15px;
    text-align:right;
    color: #cfd8dc !important;
}

#edit_event li{
    list-style-type: none;
}

#dateTime{
    background-color: #2f363f;
}

/*fonts for retina*/
@media (min-width: 2800px)
{
    h1 {
        font-size: 32px;
        font-weight:400;
        letter-spacing:24;
    }

    td {
        font-size:42px;
        font-weight: 300;
    }

    h2 {
        font-size: 28px;
        font-weight:100;
        letter-spacing:40;
    }

    h4{
        font-size: 24px;
        font-weight:400;
        letter-spacing:40;
    }

    p {
        font-size: 24px;
        font-weight:400;
    }

    p.tableHeader {
        font-size: 28px;
    }

    td{
        font-size:48px;
        font-weight: 100;
    }

    .caption-grey{
        font-size:16px !important;
        font-weight:medium;
        padding:none;
        margin:none;
    }
}

ul{
    list-style: none outside none;
    padding-left: 0;
}
.gallery li {
    display: block;
    float: left;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 100%;
}
.gallery li a {
    height: 100px;
    width: 100px;
}
.gallery li img {
    width: 100%;
    /*max-width: 100px;*/
}

.custom-html {
    background: none repeat scroll 0 0 #3E4651  !important;
}

#lg-outer {
    opacity: 0.95;
    background: #3E4651 !important;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}

.chartTitle{
  text-align:right;
  margin-bottom: 0px;
  font-size: 14px;
  padding-top:10px;

}
